@import 'utils/vars';
@import 'utils/fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: $dark-shade-100;
  font-size: 14px;
  font-family: $fontMain;
  background-color: $colorBackground;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
